<div class="center-container">
    <div class="container form-container container--shadow">
        <h1 class="form-title">Welcome Back</h1>
        <p class="form-description">Sign in to continue managing your tasks beautifully</p>

        <%= form_with url: login_path, scope: :session, data: { turbo: false } do |f| %>
            <div class="form-control">
                <%= f.label :email %>
                <%= f.email_field :email, placeholder: "Enter your email" %>
            </div>

            <div class="form-control">
                <%= f.label :email, class: "form-flex" do %>
                    Password
                    <%= link_to "forgot password?", new_password_reset_path %>
                <% end %>
                <%= f.password_field :password, placeholder: "Enter your password" %>
            </div>

            <div class="form-control">
                <%= f.label :remember_me, class: 'form-check-box' do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this browser</span>
                <% end %>
            </div>

            <%= f.submit "Sign in", class: "btn btn--gradient form-submit" %>
        <% end %>

        <div class="form-extra">
            Don't have an account?
            <%= link_to "Sign up for free", signup_path %>
        </div>
    </div>
</div>
